@import '~bootstrap/scss/bootstrap';


#gameboard{
  background-color: gray;
  color: white;
  width:auto;
  height:width;
  border-color: dark;
  border: 10px;
}
#change-pw-button{
  display:none
}
#sign-out-button{
  display:none
}
#new-game-button{
  display:none
}
#game-board{
  display:none
}
#sign-up-flip-in-button{
  display:none
}
