@import '~bootstrap/scss/bootstrap';
nav{
border:4px silver;
padding: 1em;
padding-top:0;

}
nav, div{justify-content: space-evenly;}
h2{
  margin: auto;
  text-align: center;
}

p{
  margin: auto;
  text-align: center;
}
#new-game-button-dash{
  margin:0 auto;
}
#game-container{
  height: 75vh
}
#game-board{
  margin:auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);


}
.cell{
  border-right:3px solid silver;
  border-bottom:3px solid silver;
  min-height: calc(100%/3);
  display:flex;
  justify-content: center;
  align-items:center;
  font-size: calc((100vh - 75px)/10) ;

  &:nth-child(3n) {
  border-right:0;
}
  &:nth-last-child(-1n +3){ // the last 3 elements
    border-bottom:0;
  }
  &:nth-child(2n){
    background-color: black;
    color: white
  }
  &:nth-child(2n+1){
    background-color: ivory;
  }
}
.startHidden{
  display:none
}
// #change-pw-button{
//   display:none
// }
// #sign-out-button{
//   display:none
// }
// #new-game-button-dash{
//   display:none
// }
// #game-board{
//   display:none
// }
// #sign-up-flip-in-button{
//   display:none
// }
// .gamePiece{
//   margin: 0;
//   padding:0;
//   box-sizing: border-box;
//   position: absolute;
//   text-align:center;
//   background-color: rgba(0,0,0,.1);
// }
